{% extends 'base.html.twig' %}

{% block title %}UserAddress index{% endblock %}

{% block body %}
    <h1>UserAddress index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>PhoneNumber</th>
                <th>EmailAddress</th>
                <th>Company</th>
                <th>CountryCode</th>
                <th>ProvinceCode</th>
                <th>ProvinceName</th>
                <th>City</th>
                <th>Street</th>
                <th>Postcode</th>
                <th>UpdatedAt</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_address in user_addresses %}
            <tr>
                <td>{{ user_address.id }}</td>
                <td>{{ user_address.firstName }}</td>
                <td>{{ user_address.lastName }}</td>
                <td>{{ user_address.phoneNumber }}</td>
                <td>{{ user_address.emailAddress }}</td>
                <td>{{ user_address.company }}</td>
                <td>{{ user_address.countryCode }}</td>
                <td>{{ user_address.provinceCode }}</td>
                <td>{{ user_address.provinceName }}</td>
                <td>{{ user_address.city }}</td>
                <td>{{ user_address.street }}</td>
                <td>{{ user_address.postcode }}</td>
                <td>{{ user_address.updatedAt ? user_address.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user_address.createdAt ? user_address.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_address_show', {'id': user_address.id}) }}">show</a>
                    <a href="{{ path('app_user_address_edit', {'id': user_address.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_address_new') }}">Create new</a>
{% endblock %}
